body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 20px;

  display: grid;

  /***
  grid-template-columns: 1fr 1fr 1fr; fr-> fraction
  grid-template-columns: repeat(3, 1fr);

  são 4 linhas, a primeira e a últimas terão tamanho fixo (50/100px)
  as centras serão frações
  grid-template-rows: 50px 1fr 1fr 100px;
  */
  grid-template: 50px 1fr 1fr 100px / repeat(3, 1fr);

  gap: 10px; /*distância entre os box*/

  padding: 10px;
  box-sizing: border-box;
}

.container div {
  padding: 10px;
  border: 1px solid #000;
}

.header {
  /*grid-column-start: 1;
  grid-column-end: 4;*/
  /*nesse caso, o span significa que a área deve seguir dois quadrantes*/
  grid-column: 1 / span 3;
}

.content-large {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer {
  /*
  grid-column-start: 1;
  grid-column-end: span 3;
  */
  grid-column: 1 / span 3;
}
